@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.aboutUs {
  height: 610px;
  background-color: #ffb83b;
}

.title {
  text-align: center;
  color: #535353;
  font-size: 40px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  padding: 30px 0;
}

.aboutUsInfo {
  text-align: center;
  padding: 30px 40px;
}

.containerIMG {
  height: 100px;
  color: red;
  font-size: 30px;
}

/* Estilos para pantallas menores a 768px */
@media (max-width: 768px) {
  .title {
    font-size: 30px;
    padding: 20px 0;
  }
  .aboutUsInfo {
    padding: 10px 40px;
  }
}
