.banner {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
  display: flex;
}

.slider {
  display: flex;
  width: 300%; 
  transition: transform 0.8s ease-in-out;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex: 0 0 100%;
}

/* 📱 Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
 
}
