.container {
  padding: 20px;
  display: flex;
  flex-direction: column;

  backdrop-filter: blur(20px);
  border-radius: 15px;
  background-color: #d4d4d415;
  border: 1px solid #d4d4d46b;
  margin: 20px 10px;
}
.p {
  color: #fff;
  flex: 1;
  align-items: center;
  display: flex;
  width: 100%;
}

.container h2 {
  text-align: center;
  padding: 30px;
  font-weight: 300;
}

.container input {
  background: none;
  border: 1px solid #d4d4d46b;
  color: #fff;
  border-radius: 13px;
  width: 152px;
  padding: 0 15px;
}

.container button {
  background: none;
  border: 1px solid #d4d4d46b;
  padding: 5px;
  width: 152px;
  border-radius: 13px;
  color: #fff;

  cursor: pointer;
}

.search {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.container h3 {
  text-align: center;
  padding: 10px;
  font-weight: 200;
  color: #fff;
}

.containerInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  align-items: center;
  gap: 8p;
  margin: 10px 20px;
  border-radius: 13px;
  color: #535353;
  font-size: 12px;
}

.contaonerItems {
  border: 1px solid #d4d4d46b;
  width: 100%;
  border-radius: 13px;
  padding: 10px;
  display: flex;
}

.pedidos {
  display: flex;

  flex-direction: column;
  width: 100%;
}

.pedidos2 {
  width: 100%;
}

.span {
  color: #292929;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
}
.pedidos {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}
.pedidos2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}
@media (max-width: 790px) {
  .container h2 {
    padding: 10px;

    font-size: 12px;
  }
  .container input {
    border-radius: 10px;

    font-size: 12px;
  }
  .container button {
    font-size: 12px;
    width: 152px;
    border-radius: 10px;
  }
  .contaonerItems {
    padding: 2px 5px;
    display: flex;
  }

  .containerInfo {
    margin: 0;
    font-size: 10px;
    padding-left: 2px;
  }
  .container {
    padding: 10px;
  }

  .span {
    margin-right: 5px;
    font-size: 10px;
  }
}
