.container {
  background-image: url("../../fondo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.title {
  color: #ffff;
  font-weight: 400;
  text-align: center;
  padding: 20px 0;
}
.containerCart {
  background-color: #d4d4d415;
  backdrop-filter: blur(20px);
  border-radius: 15px;
  border: 1px solid #d4d4d4d6;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 30px;
  flex: 1;
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

.cart li {
  display: flex;
  gap: 30px;
  color: #ffff;
  font-size: 12px;
  font-weight: 200;
  width: 100%;
  align-items: center;
  flex: 1;
}

.cart li p {
  flex: 1;
  text-align: start;
}

.total {
  display: flex;
  justify-content: flex-end;
  padding: 10px 40px;
  color: #ffff;
}

hr {
  margin: 0 40px;
}

.envio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  color: #ffff;
  gap: 10px;
}

.inputEnvio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.inputEnvio input {
  background: none;
  border: none;
  border-bottom: 1px dotted #fff;
  color: #fff;

}

.btnEnvio {
  border-radius: 13px;
  padding: 5px 10px;
  background: none;
  background-color: #00ad3a;
  border: none;
  color: #ffff;
  box-shadow: inset 0 4px 4px #00000050;
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
}

.fullTotal {
  color: #ffff;
  font-size: 32px;
  text-align: end;
  padding: 0 40px;
}

.titlePago {
  color: #ffff;
  text-align: left;
  padding-left: 40px;
}

.containerPago {
  display: flex;
  color: #fff;
  padding-left: 40px;
  gap: 40px;
}

.containerPagoInput {
  display: flex;
  padding: 20px 0;
  gap: 20px;
}

.btnContainer {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  gap: 20px;
}
.btnContainer button {
  background: none;
  border: none;
  background-color: #00ad3a;
  padding: 5px 10px;
  cursor: pointer;
  color: #ffff;
  border-radius: 10px;
  width: 200px;
}

.btnDelete {
  background: none;
  border: none;
  color: #ffff;
}

.cantidades p {
  background-color: #b90003;
  border-radius: 13px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
}
.container .arrow {
  width: 30px;
  height: 30px;
  color: #ffffffbd;

  margin-left: 10px;
  margin-top: 8px;
  cursor: pointer;
}

.customAlert {
  background-color: #d4d4d415;
  backdrop-filter: blur(20px);
  border-radius: 15px;
  border: 1px solid #d4d4d4d6;
  color: #fff;
}

.customIcon {
  font-size: 10px;
  background-color: #b90003;
  text-align: center;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  z-index: 1;
}

.stepNumber {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.completed .stepNumber {
  background-color: #00ad3a;
  color: #fff;
}

.step p {
  margin: 0;
  font-size: 14px;
}

.lineTime {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  backdrop-filter: blur(20px);
  border-radius: 15px;
  border: 1px solid #d4d4d4d6;
  margin: 0 auto;
  width: 520px;
  padding: 10px;
  color: #fff;
}

@media (max-width: 768px) {
  .fullTotal {
    font-size: 18px;
  }
  .btnContainer {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    gap: 20px;
  }
  .btnContainer button {
    width: 150px;
  }
  .cart {
    padding: 10px;
  }
  .envio {
    padding: 20px 20px;
  }

  .envio p {
    font-size: 13px;
  }

  .container {
    padding: 12px;
    height: 100vh;
  }

  .container .arrow {
    width: 30px;
    height: 30px;
  }

  .stepNumber {
    width: 25px;
    height: 25px;
    font-size: 12px;
  }

  .step p {
    font-size: 12px;
  }
  .lineTime {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #d4d4d415;
    backdrop-filter: blur(20px);
    border-radius: 15px;
    border: 1px solid #d4d4d4d6;
    margin: 0 auto;
    width: 340px;
    padding: 10px;
  }

  .containerCart {
    width: 340px;
  }

  .containerPagoInput {
    font-size: 13px;
  }
  .cart li p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
  }
}
