.container {
  height: 455px;
  width: 600px;
  color: #000000;
  backdrop-filter: blur(20px);
  z-index: -1;
  border-radius: 15px;
  background-color: #d4d4d415;
  border: 1px solid #d4d4d46b;
 display: flex;
  flex-direction: column;
  gap: 20px;
}



.container h2 {
  color: #fff;
  font-weight: 200;
  text-align: center;
  padding: 15px 0px;
}

.solicitudesList {
  list-style: none;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 400px;
  overflow-y: auto;
}
.solicitudItem {
  display: flex;
  font-size: 12px;
  background-color: #FFB83B;
  border-radius: 13px;
  padding: 5px;
}
.solicitudInfo1 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.solicitudInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
}
