.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  backdrop-filter: blur(20px);
  border-radius: 15px;
  background-color: #d4d4d415;
  border: 1px solid #d4d4d46b;
  margin: 20px 10px;
}

h2 {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  padding: 15px 0px;
}

.solicitudesList {
  list-style: none;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 400px;
  overflow-y: auto;
}
.solicitudItem {
  display: flex;
  font-size: 12px;
  background-color: #ffb83b;
  border-radius: 13px;
  padding: 5px;
}
.solicitudInfo1 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.solicitudInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
}
