.container {
  background-color: black;
}
.containerLog {
  background-color: #99ad00;
  display: flex;
  justify-content: flex-end;
  height: 28px;
}
.container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.containerLinks {
  background-color: #ffffff;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  transition: top 0.3s ease-in-out;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.logo {
  width: 100px;
  height: 100px;
  margin-left: 40px;
  cursor: pointer;
}

.containerLinks2 {
  display: flex;
  gap: 20px;
}
.titleLog {
  position: absolute;
  left: 0;
  height: 28px;
  width: 82%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
}

.a {
  color: #000000;
  text-decoration: none;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.a:hover {
  text-shadow: 2px 2px 5px yellow;
}

.btn {
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;
  border: none;
  width: 119px;
  background-color: #004718;
  color: #ffffff;
  cursor: pointer;
}
.btn1 {
  background-color: #99ad00;
  border: none;
  color: #ffffff;
  padding-right: 10px;
  font-size: 12px;
  cursor: pointer;
}

.search input {
  background: none;
  border: none;
  width: 250px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.842);
  padding-left: 30px;
}

.search input::placeholder {
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.containerLinks2 {
  display: flex;
  font-weight: 600;
}

.btnMenu,
.btnClose {
  display: none;
  margin-right: 20px;
}

.btnCerrarSesion {
  color: #ffffff;
  font-size: 13px;
  background-color: #99ad00;
  border: none;
  width: 110px;
  padding: 2px 3px;
  cursor: pointer;
}

.search {
  position: relative;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: fit-content;
  cursor: pointer;
}

.search .cart {
  width: 20px;
  height: 20px;
  position: absolute;
}

.searchBtn {
  position: absolute;
  left: 8px;
  top: 15px;
  width: 15px;
  height: 15px;
}

.cartContainer {
  display: flex;

  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.CartNumber {
  position: relative;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: red;
  width: 15px;
  height: 15px;
}

.CartNumber p {
  color: #ffffff;
  font-size: 10px;
}

.totalNumber {
  font-size: 10px;
}

.floatingArrow {
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: #b90003;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
}
/* Estilos para pantallas menores a 768px */
@media (max-width: 768px) {
  .floatingArrow {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #b90003;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
  }
  .titleLog {
    display: none;
  }

  .containerLog {

    padding-left: 20px;
  }

  .container2 {
    padding-right: 30px;
    position: relative;
    background-color: #ffffff;
  }

  .logo {
    width: 80px;
    height: 80px;
    margin-left: 28px;
  }
  .search {
    padding-left: 20px;
    padding-right: 30px;
    position: absolute;
    margin-top: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  }
  .searchBtn {
    position: absolute;
    left: 30px;
    top: 14px;
  }

  .search input {
    width: 200px;
    height: 25px;
  }
}
