.container {
  background-color: black;
}
.containerLog {
  background-color: #99ad00;
  display: flex;
  justify-content: flex-end;
  height: 28px;
}
.container2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.containerLinks {
  background-color: #ffffff;
  display: flex;
  gap: 20px;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
  transition: top 0.3s ease-in-out;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.logo {
  width: 55px;
  height: 55px;
  margin-left: 20px;
}

.containerLinks2 {
  display: flex;
  gap: 20px;
}
.titleLog {
  position: absolute;
  left: 0;
  height: 28px;
  width: 82%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
}

.a {
  color: #000000;
  text-decoration: none;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.a:hover {
  text-shadow: 2px 2px 5px yellow;
}

.btn {
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;
  border: none;
  width: 119px;
  background-color: #004718;
  color: #ffffff;
  cursor: pointer;
}
.btn1 {
  background-color: #99ad00;
  border: none;
  color: #ffffff;
  padding-right: 10px;
  font-size: 12px;
  cursor: pointer;
}

.search input {
  background: none;
  border: none;
  width: 250px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.842);
  padding-left: 30px;
}

.search input::placeholder {
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.containerLinks2 {
  display: flex;
  font-weight: 600;
}

.btnMenu,
.btnClose {
  display: none;
}

.btnCerrarSesion {
  color: #ffffff;
  font-size: 13px;
  background-color: #99ad00;
  border: none;
  width: 110px;
  padding: 2px 3px;
  cursor: pointer;
}

.search {
  position: relative;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: fit-content;
  cursor: pointer;
}

.search .cart {
  width: 20px;
  height: 20px;
  position: absolute;
}

.searchBtn {
  position: absolute;
  left: 8px;
  top: 15px;
  width: 15px;
  height: 15px;
 
}

.cartContainer {
  display: flex;

  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.CartNumber {
  position: relative;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: red;
  width: 15px;
  height: 15px;
}

.CartNumber p {
  color: #ffffff;
  font-size: 10px;
}

.totalNumber {
  font-size: 10px;
}

/* Estilos para pantallas menores a 768px */
@media (max-width: 768px) {
  .titleLog {
    display: none;
  }
  .btnMenu {
    display: block;
    cursor: pointer;
    color: #000000;
    width: 25px;
    height: 25px;
  }

  .btn {
    width: 110px;
    cursor: pointer;
    border: none;
    font-size: 11px;
  }
  .btn1 {
    width: 110px;
    border: none;
    font-size: 11px;
  }

  .containerLinks2 {
    gap: 20px;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    z-index: 1000000;
    position: fixed;
    left: 0;
    top: 26px;
    height: 100vh;
    width: 220px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    background-color: #ffffff;
 
  }

  .containerLog {
    background-color: #99ad00;
    z-index: 100000;
    position: fixed;
    top: 0;
    justify-content: flex-end;
    height: 28px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .containerLinks {
    justify-content: space-around;
  }

  .containerLog.open {
    transform: translateX(0);
  }

  .containerLinks2.open {
    transform: translateX(0);
  }



  .btnClose {
    display: block;
    position: absolute;
    top: 15px;
    left: 184px;
    cursor: pointer;
  }

  .search {
    margin-top: 40px;
    padding-left: 20px;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ffffff;
  }
  .searchBtn {
    position: absolute;
    left: 30px;
    top: 12px;
  }

  .search input {
    width: 200px;
    height: 25px;
  }

  .a {
    border-bottom: 1px solid black;
    width: 100%;
  }

  .btnCerrarSesion {
    font-size: 11px;
    background-color: none;
    border-radius: 0;
    box-shadow: none;
    background-color: #99ad00;
    width: 220px;
  }



}
