.logo {
  width: 100px;
  height: 100px;
  margin-left: 40px;
  cursor: pointer;
}

.titleLog {
  font-size: 10px;
  font-weight: 0;
}

.containerLog {
  background-color: #99ad00;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
}

.containerLinks {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  transition: top 0.3s ease-in-out;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.linkContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.linkContainer.open {
  transform: translateX(0);
}

.btnClose {
  display: none;
}

.btnMenu {
  display: none;
}

.a {
  color: #000000;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.a:hover {
  text-shadow: 2px 2px 5px yellow;
}

.search input {
  background: none;
  border: none;
  width: 250px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.842);
  padding-left: 30px;
}

.search input::placeholder {
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.search {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: fit-content;
  cursor: pointer;
}
.searchBtn {
  position: absolute;
  left: 9px;
}

.cart {
  width: 20px;
  height: 20px;
  position: absolute;
}

.cartContainer {
  display: flex;
  font-size: 12px;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.CartNumber {
  position: relative;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: red;
  width: 15px;
  height: 15px;
}

.CartNumber p {
  color: #ffffff;
  font-size: 10px;
}

.logoUser {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 40px;
}

.floatingArrow {
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: #b90003;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
}
.logoUser2 {
  display: none;
}
.btnCerrarSesion {
  display: none;
}
.btnCerrarSesion2 button {
  background: none;
  border: none;
  font-size: 12px;
}
.btnCerrarSesion2 {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-right: 20px;
}

.btnLogin{
  
display: none;
}

.btnLogin2{
  
  display: flex;
    gap: 10px;
    align-items: center;
    padding-right: 0;
  }
  .btnLogin2 button{
    font-size: 13px;
    border: none;
    background: none;
 
  }

/* Estilos para pantallas menores a 768px */
@media (max-width: 768px) {
  .btnCerrarSesion {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-right: 0;
  }
  .btnCerrarSesion button {
    background: none;
    border: none;
  }
  .btnCerrarSesion2 {
    display: none;
  }

  .linkContainer {
    background-color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0.3);
    flex-direction: column;
    position: fixed;
    min-width: 220px;
    top: 0;
    left: 0 !important;
    height: 100vh;
    z-index: 1;
    justify-content: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .containerLinks {
    flex-direction: column;
    padding: 0 20px;
    gap: 0;
  }

  .logoUser {
    display: none;
  }

  .logoUser2 {
    display: flex;
    cursor: pointer;
    gap: 10px;
    align-items: center;
  }

  .logo {
    width: 80px;
    height: 80px;
    margin: 0;
  }

  .search input {
    width: 200px;
    height: 25px;
  }

  .btnClose {
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .btnMenu {
    display: block;
    cursor: pointer;
    color: #000000;
    width: 25px;
    height: 25px;
  }

  .cartContainer {
    font-size: 10px;
    gap: 5px;
  }

  .cart {
    width: 20px;
    height: 20px;
  }
  .logoContainer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .search {
    width: 100%;
    justify-content: space-between;
  }
  .floatingArrow {
 
    bottom: 5px;
    right: 5px;

  }
  .btnLogin{
  
    display: flex;
    gap: 10px;
    align-items: center;
    padding-right: 0;
  }
  .btnLogin button{
    font-size: 13px;
    border: none;
    background: none;
 
  }

  .btnLogin2{
  
  display: none;
    }
 
}
