.container {
  height: 455px;
  width: 600px;
  color: #000000;

  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.navContent {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navContent ul li {
  background-color: #ffb83b;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 13px;
  border-radius: 10px;
}

.navContent h2 {
  font-size: 20px;
  font-weight: 400;
}

.solicitudInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px;
}

.solicitudesList{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.solicitudActions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  justify-content: space-between;
}

.aprobarBtn {
  background-color: #adad00;
  width: 100px;
  height: 25px;
  border-radius: 33px;
  border: none;
  cursor: pointer;
  color: #ffff;
  margin: 8px;
}

.rechazarBtn {
  background-color: #b90003;
  width: 100px;
  height: 25px;
  border-radius: 33px;
  border: none;
  cursor: pointer;
  color: #ffff;
  margin: 8px;
}
