
h2{
  color: #ffff;
}

.navContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  backdrop-filter: blur(20px);
  border-radius: 15px;
  background-color: #d4d4d415;
  border: 1px solid #d4d4d46b;
  margin: 20px 10px;
}

.navContent ul li {
  background-color: #ffb83b;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 13px;
  border-radius: 10px;
  height: 100px;
}

.navContent h2 {
  font-size: 20px;
  font-weight: 400;
}

.solicitudInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px;
}

.solicitudesList{
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
}

.solicitudActions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  justify-content: space-around;
}

.aprobarBtn {
  background-color: #adad00;
  width: 100px;
  height: 25px;
  border-radius: 33px;
  border: none;
  cursor: pointer;
  color: #ffff;
  margin: 8px;
}

.rechazarBtn {
  background-color: #b90003;
  width: 100px;
  height: 25px;
  border-radius: 33px;
  border: none;
  cursor: pointer;
  color: #ffff;
  margin: 8px;
}
