@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.iconOfertas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconOfertas:hover {
  transform: scale(1.08);
}

.iconOfertas img {
  width: 50px;
  height: 50px;
}
.containerOfertas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 40px 0 20px 0;
}
/* Wrapper del carrusel */
.carouselWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
/* Otros contenedores y estilos */
.descuento {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
/* Flechas */
.arrowLeft,
.arrowRight {
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.2s ease;
}
.arrowLeft:hover,
.arrowRight:hover {
  transform: scale(1.2);
}
.arrowIcon {
  font-size: 2rem;
  color: #0a0700;
}

/* Contenedor de productos (carrusel) */
.container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 20px;
  max-width: 1500px;
}
.container::-webkit-scrollbar {
  display: none;
}

/* Tarjeta de producto */
.cartContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  width: 260px;
  height: 381px;
  border-radius: 11px;
  padding: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.41);
  position: relative;
}

/* Imagen */
.img {
  width: 240px;
  height: 50%;
  object-fit: cover;
  mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
  border-radius: 10px;
}

/* Etiqueta de descuento */
.sale {
  position: absolute;
  top: -15px;
  right: -15px;
}
.sale img {
  width: 45px;
  height: 45px;
}
.sale p {
  position: absolute;
  top: 7px;
  right: 15px;
  color: white;
  font-size: 20px;
}

/* Precio por unidad */
.priceUnit {
  background-color: #ffb83b;
  width: 100%;
  text-align: center;
  color: #535353;
}
.description {
  color: #535353;
}
.quantitySelection {
  font-size: 13px;
}
.quantityContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.quantityContainer span {
  color: black;
  font-size: 16px;
}
.quantityContainer button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.total {
  background-color: #ffb83b;
  padding: 0 5px;
  border-radius: 33px;
  color: #535353;
}
.addCart {
  background-color: #247504;
  color: #d9d9d9;
  border: none;
  width: 197px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
}

.containerseeMoreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 20px;
}
.containerCategory {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 20px;
  gap: 10px;
}
.containerCategory button {
  font-size: 17px;
  color: #535353;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.205);
  padding: 5px;
  background-color: #ffb83b;
  border-radius: 13px;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}
.offOfertas {
  height: 504px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../fondo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
.hortalizas,
.Frutas {
  display: flex;
  gap: 10px;
}
.arrow {
  width: 20px;
  height: 20px;
}
.customAlert {
  background-color: rgba(212, 212, 212, 0.15);
  backdrop-filter: blur(20px);
  border-radius: 15px;
  border: 1px solid #d4d4d4d6;
  color: #fff;
  font-size: 12px;
  display: flex;
}
.customAlertInfo {
  background-color: rgba(212, 212, 212, 0.15);
  backdrop-filter: blur(20px);
  border-radius: 15px;
  border: 1px solid #d4d4d4d6;
  color: #fff;
  font-size: 12px;
  display: flex;
  height: 400px;
}
.customIconSuc {
  font-size: 10px;
  background-color: #004718;
  text-align: center;
}
.customIconErr {
  font-size: 5px;
  background-color: #b90003;
  text-align: center;
}
.categoryTitle {
  color: black;
  font-weight: 500;
}
.titleOfertas {
  font-weight: 800;
  font-size: 52px;
  text-align: center;
  background-color: #BA457B;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow:  0px 4px 6px  rgba(0, 0, 0, 0.11);
  letter-spacing: 2px;
  transition: transform 0.3s ease;
}

.titleOfertas:hover {
  transform: scale(1.08);
}
.categoryContainer {
  display: flex;
  align-items: center;
  padding: 20px 0 10px 100px;
  gap: 10px;
}
.iconCategories {
  width: 25px;
  height: 25px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  /* Ocultar flechas en móvil */
  .arrowLeft,
  .arrowRight {
    display: none;
  }

  .container {
    width: 100%;
    gap: 20px;
    overflow-x: scroll;
    margin: 0 10px;
    background-color: transparent;
    padding: 15px 0 20px 0;
  }
  .categoryTitle {
    font-size: 15px;
  }
  .categoryContainer {
    padding: 10px 0 0 10px;
  }
  .cartContainer {
    width: 200px;
  }
  .img {
    width: 190px;
    height: 160px;
    border-radius: 13px;
  }
  .addCart {
    width: 150px;
    font-size: 15px;
  }
  .seeMoreBtn {
    height: 30px;
    width: 140px;
    font-size: 12px;
    font-family: "Poppins", serif;
    color: #ffffff;
  }
  .containerCategory {
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    padding: 40px 10px;
  }
  .containerCategory button {
    font-size: 12px;
    padding: 0;
    height: 30px;
    width: 100%;
  }
  .hortalizas,
  .Frutas {
    flex-direction: column;
  }
  .arrow {
    transform: rotate(90deg);
    width: 15px;
    height: 15px;
  }
  .titleOfertas {
    font-size: 30px;
  }
  .quantitySelection,
  .total {
    text-align: center;
  }
  .total {
    font-size: 14px;
  }
  .customAlert {
    font-size: 10px;
  }
  .iconOfertas {
    font-size: 20px;
  }
}
