@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
  display: flex;
  gap: 30px;
  overflow-x: scroll;
  margin: 0 130px;
  padding: 20px;
}

.descuento {
 background-color: #ffb83b;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.685);
}

.container2 {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 30px;
  height: 500px;
  overflow-x: scroll;
}

.cartContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);

  width: 260px;
  height: 381px;
  border-radius: 11px;
  padding: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.41);

  position: relative;
}

.img {
  width: 240px;
  height: 50%;
  border-radius: 13px;
  object-fit: cover;
  mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
  border-radius: 10px; /* opcional */
}
.sale {
  position: absolute;
  top: -15px;
  right: -15px;
}

.sale img {
  width: 45px;
  height: 45px;
}
.sale p {
  position: absolute;
  top: 7px;
  right: 15px;
  color: white;
  font-size: 20px;
}

.priceUnit {
  background-color: #ffb83b;
  width: 100%;
  text-align: center;
  color: #535353;
}

.description {
  color: #535353;
}

.quantitySelection {
  font-size: 13px;
}

.quantityContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.quantityContainer span {
  color: black;
  font-size: 16px;
}

.quantityContainer button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.total {
  background-color: #ffb83b;
  padding: 0 5px;
  border-radius: 33px;
  color: #535353;
}

.addCart {
  background-color: #247504;
  color: #d9d9d9;
  border: none;
  width: 197px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
}
.containerseeMoreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 20px;
}
.seeMoreBtn {
  border: none;
  background-color: #b90003;
  height: 30px;
  width: 130px;
  border-radius: 33px;
  font-size: 15px;
  font-family: "Poppins", serif;
  color: #ffffff;
  cursor: pointer;
}

.seeMoreBtnNo {
  text-align: center;
  font-size: 1rem;
  color: #ffb83b;
}

.containerCategory {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 20px;
  gap: 10px;
}

.containerCategory button {
  font-size: 17px;
  color: #535353;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.205);
  padding: 5px;
  background-color: #ffb83b;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 13px;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);

  transition: transform 0.3s ease-in-out;
}

.containerCategory button.activeCategory {
  background-color: #b90003;
  color: white;
  border-color: #b90003;
}

.containerCategory button:hover {
  transform: scale(1);
}

.containerCategory .background {
  color: #ffff;
}

.offOfertas {
  height: 504px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../fondo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-clip: cover;
  color: #ffffff;
}

.hortalizas {
  display: flex;
  gap: 10px;
}

.Frutas {
  display: flex;
  gap: 10px;
}

.arrow {
  width: 20px;
  height: 20px;
}

.customAlert {
  background-color: #d4d4d415;
  backdrop-filter: blur(20px);
  border-radius: 15px;
  border: 1px solid #d4d4d4d6;
  color: #fff;
  font-size: 12px;
  display: flex;
}

.customIconSuc {
  font-size: 10px;
  background-color: #004718;
  text-align: center;
}
.customIconErr {
  font-size: 5px;
  background-color: #b90003;
  text-align: center;
}

.categoryTitle {
  color: black;
  font-weight: 500;
}

.titleOfertas {
  font-size: 45px;
  text-align: center;
  padding: 20px 0 0 0;
  font-weight: 600;
  color: #ffb83b;
}
.categoryContainer {
  display: flex;
  align-items: center;
  padding: 20px 0 10px 100px;
  gap: 10px;
}
.iconCategory {
  width: 25px;
  height: 25px;
}
@media (max-width: 768px) {
  .container {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    margin: 0 10px;
  }
  .categoryTitle {
    color: black;
    font-weight: 500;
    font-size: 15px;
  }
  .categoryContainer {
    padding: 20px 0 10px 10px;
  }

  .cartContainer {
    width: 200px;
  }

  .img {
    width: 190px;
    height: 160px;
    border-radius: 13px;
  }

  .addCart {
    width: 150px;
    font-size: 15px;
  }
  .seeMoreBtn {
    height: 30px;
    width: 140px;
    font-size: 12px;
    font-family: "Poppins", serif;
    color: #ffffff;
  }

  .containerCategory {
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    padding: 40px 10px;
  }

  .containerCategory button {
    font-size: 12px;
    padding: 0;
    height: 30px;
    width: 100%;
    flex-wrap: nowrap;
  }

  .hortalizas,
  .Frutas {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .arrow {
    transform: rotate(90deg);
    width: 15px;
    height: 15px;
  }

  .titleOfertas {
    font-size: 30px;
  }

  .quantitySelection {
    text-align: center;
  }

  .total {
    text-align: center;
    font-size: 14px;
  }

  .customAlert {
    font-size: 10px;
  }

  .scrollArrow {
    display: none;
  }
}
