

.title {
  color: #fff;
  font-size: 20px;
  text-align: center;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px 10px;
  backdrop-filter: blur(20px);
  z-index: -1;
  border-radius: 15px;
  background-color: #d4d4d415;
  border: 1px solid #d4d4d46b;
  gap: 20px;

}
.hiddenInput{
  color: #fff;
  
}

.customFileButton{
  color: #fff;
  
}

.btn{
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  margin-left: 10px;
  background-color: #FFB83B;
  border-radius: 13px;
  padding: 2px 5px;
}

/* 📱 Ajuste para pantallas pequeñas */
@media (max-width: 1000px) {
.title{
  font-size: 15px;
}

.customFileButton, .hiddenInput, .btn{
 font-size: 10px;
  
}

}
