:root {
  --main-red: #B90003;
  --secondary-yellow: #FFB83B;
  --dark-gray: #535353;
  --light-gray: #d9d9d9;
}

/* Mejora en el título */
.titleOfertas {
  color: #ffffff;
  font-size: 45px;
  text-align: center;
  font-weight: 400;
}

.descuento {
  background-image: url("/fondoDescuento.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.685);
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;
}

.cartContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--light-gray);
  width: 260px;
  height: 381px;
  border-radius: 11px;
  padding: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.41);
}

.priceUnit {
  background-color: var(--secondary-yellow);
  width: 100%;
  text-align: center;
  color: var(--dark-gray);
}

.quantityContainer button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.quantityContainer button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.addCart {
  background-color: var(--main-red);
  color: var(--light-gray);
  border: none;
  width: 197px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
}

.addCart:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Responsivo */
@media (max-width: 768px) {
  .cartContainer {
    width: 155px;
    height: 315px;
  }

  .img {
    width: 140px;
  }

  .addCart {
    width: 130px;
    font-size: 15px;
  }

  .seeMoreBtn {
    height: 30px;
    width: 140px;
    font-size: 12px;
  }
}
